*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container{
  max-width: 1500px;
  margin: 0 auto;
}
.btn-default{
  justify-content: center;
  padding: 18px 18px 13px 22px;
  border: 3px solid #C3D72F;

  background: #C3D72F;
  display: flex;
  max-width: 215px;
  max-height: 79px;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
  .top{
    display: flex;
    justify-content: flex-end;
  }
  .bottom{
    text-align: start;
    span{
      font-family: 'HelveticaNeueCyr';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      /* or 136% */
      color: #000000;
    }
  }
  &:hover{
    border: 3px solid #C3D72F;
    background: #fff;
    transition: .3s ease-in-out;

  }
  &:active{
    background: #AAC005;
    border: 3px solid #AAC005;;
  }
}
.title{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 112px;
  /* or 112% */

  text-transform: uppercase;

  color: #fff;
  span{
    color: #C3D72F;
  }
}
.sub_title{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 72px;
  /* or 138% */

  text-transform: uppercase;

  color: #000;
  span{
    color: #C3D72F;
  }
}
.header{
  padding: 20px 0 25px 0;
  .block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 104px;
    .links{
      display: flex;
      gap: 30px;
      .link{
        font-family: 'HelveticaNeueCyr';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: #333333;
        position: relative;
        cursor: pointer;
        &:after{
          margin-top: 47px;
          display: block;
          position: absolute;
          left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
          width: 0;/*задаём длинну линии до наведения курсора*/
          height: 2px; /*задаём ширину линии*/
          background-color:#AAC005 ; /*задаём цвет линии*/
          content: "";
          transition: width 0.3s ease-out; /*задаём время анимации*/
        }
        &:hover{
          color: #AAC005;
          transition: width 0.3s ease-out;
        }
        &:hover:after,
        &:focus:after {
          width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }
      }
    }
    .links_me{
      img{
      }
      display: flex;
      align-items: center;
      gap: 18px;
      span{
        font-family: 'HelveticaNeueCyr';
        font-style: normal;
        font-weight: 550;
        font-size: 17px;
        line-height: 22px;
        /* identical to box height, or 126% */


        color: #000000;
      }
      .btn-default{
        margin-top: -37px;
        span{
          font-family: 'HelveticaNeueCyr';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 23px;
          /* or 136% */
          color: #000000;
        }
      }
    }

  }
}
.main{
  background-image: url("/img/bg/bg_main_section.svg");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  .left{
    padding: 178px 60px 110px 206px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: #2A2D32;

    p{
      font-family: 'HelveticaNeueCyr';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      /* or 126% */


      color: #DBDBDB;
      max-width: 628px;
    }
  }
  .right{
    height: 577px;
    img{
    }
  }
  .play{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 50px;
    background: #C3D72F;
    border: 10px solid #2A2D32;
    top: 39%;
    left: 57%;
    transition: .3s ease-in-out;
    cursor: pointer;
    .hide{
      display: none;
    }
    &:hover{
      border: 3px solid #C3D72F;
      background: #2A2D32;
      padding: 57px;
      .hide{
        display: block;
      }
      .on_hide{
        display: none;
      }
    }
  }
}

.yakor{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #9D9D9F;
}
.popular{
  margin-top: 45px;
  margin-bottom: 150px;
  .block{
    .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left{
        display: flex;
        align-items: center;
        gap: 42px;
        .sub_title{
          span{
            font-family: 'HelveticaNeueCyr';
            font-style: normal;
            font-weight: 900;
            font-size: 52px;
            line-height: 72px;
            /* or 138% */
            color: #C3D72F;

            text-transform: uppercase;
          }
        }
        display: flex;
        align-items: center;
        span{
          font-family: 'HelveticaNeueCyr';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #9D9D9F;
        }
      }
      .right{
        position: relative;
        display: flex;
        .circle{
          width: 210px;
          height: 210px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid #eee;
          div{
            font-family: 'HelveticaNeueCyr';
            font-style: normal;
            font-weight: 550;
            font-size: 56.5725px;
            line-height: 35px;
            /* identical to box height, or 62% */
            color: #C3D72F;
          }
        }
        span{
          margin-left: -71px;
          margin-top: 112px;
          font-family: 'HelveticaNeueCyr';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          /* or 138% */
          color: #474747;
          max-width: 223px;
          h5{
            margin-left: 50px;
            font-family: 'HelveticaNeueCyr';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* or 138% */
            color: #474747;
          }
        }
      }
    }
    .wrapper{
      margin-top: 39px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .item{
        .btn-default{
          margin-top: 37px;
          .top{
            justify-content: flex-end;
          }
          .bottom{
            span{
              font-family: 'HelveticaNeueCyr';
              font-style: normal;
              font-weight: 550;
              font-size: 17px;
              line-height: 23px;
              /* or 136% */


              color: #2A2D32;
            }
          }
        }
        .img{
          position: relative;
          width: 489px;
          height: 381px;
          .data{
            position: absolute;
            top: 25px;
            left: 0;
            padding: 5px 15px;
            background: #2A2D32;
            color: #C3D72F;
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 160%;
          }
        }
        h3{
          font-family: 'Segoe UI';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 150%;
          /* identical to box height, or 33px */

        color: #000;
          span{
            color: #AAC005;

          }
        }
        p{
          margin-top: 10px;
          max-width: 449px;
          font-family: 'Segoe UI';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 160%;
          /* or 27px */


          color: #777777;
        }
      }
    }
  }
}
.raspisanie{
  position: relative;
  padding-top: 100px;
  padding-bottom: 107px;
  background:#2A2D32;
  .wrapper{

    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
      display: flex;
      align-items: center;
      gap: 42px;
      .sub_title{
        color: white;
      }
    }
    .btn-default{
      padding: 18px 18px 10px 22px;
      gap: 7px;
    }
  }
}
.video_slider{
  position: relative;
  .row{
    margin-top: 20px;
  }
  .icons{
    position: absolute;
    left: 34%;
    top: 183px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
    .sub_title_2{
      text-transform: uppercase;
      font-family: 'HelveticaNeueCyr';
      font-style: normal;
      font-weight: 900;
      font-size: 52px;
      line-height: 72px;
      /* or 138% */

      text-align: center;
  color: #fff;
      span{
        color: #C3D72F;

      }
    }
    .icon{
      background: #C3D72F;
      width: 123px;
      height: 123px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s ease-in-out;
      cursor: pointer;

      .hide{
        display: none;
      }
    }
  }
}

.Why_me{
  margin-top: 150px;
  margin-bottom: 200px;
  .block{
    .top{
      display: flex;
      align-items: center;
      gap: 42px;
    }

      p{
        font-family: 'HelveticaNeueCyr';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        /* or 129% */


        color: #474747;
        max-width: 616px;
        margin-left: 190px;
        margin-top: 20px;
      }
    .items{
      display: flex;
      flex-wrap: wrap;
      margin-left: 191px;
      margin-top: 30px;
      .item{
        border: 1px solid #E6E6E6;
        padding: 26px 38px 31px 39px;
        .top{
          display: flex;
          align-items: center;
          gap: 47px;
          span{
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 140.5%;
            /* or 31px */

            width: 321px;
            color: #333333;
          }
        }
        p{
          margin-left: 106px;
          margin-top: 13px;
          font-family: 'Segoe UI';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 160%;
          /* or 27px */


          color: #777777;
          max-width: 441px;
        }
      }
    }

  }
}


.trevel_team{
  padding-top: 89px;
  background:#2A2D32;
  padding-bottom: 101px;
  .block{
    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sub_title{
        color: #fff;
      }
      .wrapper{
        display: flex;
        align-items: center;
        gap: 100px;
      }
      .btn-default{
        width: 235px;
        height: 79px;
        background: #C3D72F;
        .top{
          justify-content: flex-end;
        }
      }
    }
    .items{
      margin-top: 85px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .item{
          .info{
            margin-left: 20px;
            h3{
              font-family: 'Segoe UI';
              font-style: normal;
              font-weight: 700;
              font-size: 22px;
              line-height: 140.5%;
              /* identical to box height, or 31px */


              color: #FFFFFF;
              margin-top: 23px;
            }
            p{
              margin-top: 15px;
              font-family: 'Segoe UI';
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 160%;
              /* or 24px */
              max-width: 704px;


              color: #BBBBBB;
            }
          }
        .btn-default{
          margin-top: 39px;
          margin-left: 20px;
        }
        .mt-15{
          margin-top: 15px;
        }
      }
    }
  }
}
.vopros{
  margin-top: 150px;
  margin-bottom: 150px;
  .block{
    .top{
      display: flex;
      align-items: center;
      gap: 100px;
    }
    .items{
      margin-top: 85px;
      margin-left: 250px;
      display: flex;
      flex-wrap: wrap;
      .item{
        display: flex;
        align-items: center;
        padding: 50px 0 80px 0;
        border-top: 1px solid #DADADA;
        border-bottom: 1px solid #DADADA;

        gap: 90px;
        transition: .3s ease-in-out;
        &:hover{
          background: url("../img/main/bg_items.svg");
          span{
            color: transparent;

          }
          h3{
            color: #fff;
            filter: brightness(100%);
          }
          p{
            color: #fff;
            filter: brightness(100%);
          }
        }
        span{
          font-family: 'HelveticaNeueCyr';
          font-style: normal;
          font-weight: 550;
          font-size: 17px;
          line-height: 22px;
          /* identical to box height, or 129% */


          color: #AAC005;
          z-index: 3;
        }
        h3{
          font-family: 'HelveticaNeueCyr';
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 31px;
          /* or 123% */


          color: #333333;
          width: 301px;
          z-index: 3;
        }
        p{
          font-family: 'HelveticaNeueCyr';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 21px;
          /* or 126% */


          color: #777777;
          max-width: 613px;
          z-index: 3;
        }
      }
    }
  }
}

.comments{
  position: relative;
  padding-top: 100px;
  background: #2A2D32;
  padding-bottom: 100px;
.block{
  margin-left: 206px;
  .top{
    display: flex;
    align-items: center;
    gap: 100px;
    .sub_title{
      color: #FFFFFF;
    }
  }
  .swiper_2 {
    margin-left: 250px;
    margin-top: 50px;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    .swiper-wrapper{
      display: flex;
      gap: 20px;
      .swiper-slide{
        padding: 50px;
        position: relative;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .top{
          display: flex;
          justify-content: space-between;
          align-items: end;
          .left{
            display: flex;
            align-items: center;
            gap: 13px;
            p{
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 130%;
              /* or 19px */


              color: #63656A;
            }
            span{
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 25px;
              line-height: 130%;
              /* or 32px */


              color: #2A2D32;
            }
            .info{
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
          }
          .right{
            display: flex;
            align-items: end;
            gap: 26px;
            .data{
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 130%;
              /* or 19px */


              color: #63656A;
            }
          }

        }
        p{

          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 150%;
          /* or 26px */


          color: #63656A;
        }
      }
    }
  }
  .btn_swiper-prev{
    cursor: pointer;
    position: absolute;
    left: 206px;
    top: 350px;
    background: #2A2D32;
    width: 235px;
    height: 79px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding:0 22px 0 22px;
    border: 2px solid #C3D72F;

    &:after{
      display: none;
    }
    span{
      font-family: 'HelveticaNeueCyr';
      font-style: normal;
      font-weight: 550;
      font-size: 17px;
      line-height: 23px;
      /* or 136% */
      color:     #C3D72F
    ;


    }
  }
  .btn_swiper-next{
    cursor: pointer;
    position: absolute;
    left: 206px;
    top: 250px;
    background: #C3D72F;
    width: 235px;
    height: 79px;
    padding: 0 22px 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #C3D72F;

    span{
      font-family: 'HelveticaNeueCyr';
      font-style: normal;
      font-weight: 550;
      font-size: 17px;
      line-height: 23px;
      /* or 136% */


      color: #000000;
    }
    &:after{
      display: none;
    }
  }
}
}
.how_to_book{
  .block{
    .top{
      display: flex;
      align-items: center;
      gap: 100px;
    }
    img{
      margin-top: 84px;
      margin-left: 240px;
    }
  }
}

.with_you{
  margin-top: 85px;
  padding: 88px 0 100px 0;
  background: #2A2D32;
  .block{
    .top{
      display: flex;
      align-items: center;
      gap: 100px;
      .sub_title{
        color: #fff;
      }
    }
    .wrapper{
      display: flex;
      gap: 23px;
      .right_content{
        margin-top: -127px;
      }
    }
    #tabs {
      padding-top: 40px;
    }

    .c-tabs-nav {
      display: flex;
    }
    .sposob_txt{
      font-family: 'HelveticaNeueCyr';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      /* or 25px */

      display: flex;
      align-items: center;

      /* White */

      color: #FFFFFF;
      margin-bottom: 13px;
    }

    .c-tabs-nav__link {
      text-decoration: none;
      padding: 21px 42px;
      background: rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
      gap: 10px;
      transition: .3s ease-in-out;
      .hide{
        display: none;
      }
      span{
        font-family: 'HelveticaNeueCyr';
        font-style: normal;
        font-weight: 550;
        font-size: 17px;
        line-height: 160%;
        /* or 27px */

        display: flex;
        align-items: center;
        text-align: center;

        /* White */

        color: #FFFFFF;
      }
      &:hover{
        background: #C3D72F;
        .img{
          display: none;
        }
        .hide{
          display: block;
        }
        span{
          color: #000;
        }
      }
    }

    .c-tabs-nav__link.is-active {
      opacity: 1;
      background: #C3D72F;
      .img{
        display: none;
      }
      .hide{
        display: block;
      }
      span{
        color: #000;
      }
    }

    /**
     * Tab
     */
    .c-tab {
      display: none;
    }

    .c-tab.is-active {
      display: block;
    }

    .c-tab__content {
      padding-top: 10px;
      padding-bottom: 13px;
      position: relative;
      animation: showTab 300ms ease-in-out both;
      span{
        font-family: 'HelveticaNeueCyr';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */

        display: flex;
        align-items: center;

        /* White */

        color: #FFFFFF;
      }
    }

    @keyframes showTab{
      from {opacity: 0; top: 5px}
      to {opacity: 1; top: 0;}
    }

    .c-tab-nav-marker {
      min-height: 4px;
      background-color: #FFF;
      position: absolute;
      bottom: -10px;

      transition: all 0.3s ease-out;
    }
    .form{
      display: flex;
      margin-bottom: 20px;
      input{
        border: none;
        outline: none;
        padding: 23px 265px 21px 21px;

        font-family: 'HelveticaNeueCyr';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 17px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        /* Black/Black */

        color: #222633;
      }
      button{
        cursor: pointer;
        gap: 50px;
        background: #C3D72F;
        display: flex;
        align-items: center;
        padding: 23px 25px 21px 13px;
        border: none;
        outline: none ;
        span{
          font-family: 'HelveticaNeueCyr';
          font-style: normal;
          font-weight: 550;
          font-size: 17px;
          line-height: 17px;
          /* identical to box height */

          display: flex;
          align-items: center;
          text-align: center;

          color: #000000;
        }
      }
    }
    .politika{
      font-family: 'HelveticaNeueCyr';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      /* identical to box height, or 21px */


      /* White */

      color: #FFFFFF;
      a{
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}