@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.btn-default {
  justify-content: center;
  padding: 18px 18px 13px 22px;
  border: 3px solid #C3D72F;
  background: #C3D72F;
  display: flex;
  max-width: 215px;
  max-height: 79px;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}
.btn-default .top {
  display: flex;
  justify-content: flex-end;
}
.btn-default .bottom {
  text-align: start;
}
.btn-default .bottom span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  /* or 136% */
  color: #000000;
}
.btn-default:hover {
  border: 3px solid #C3D72F;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.btn-default:active {
  background: #AAC005;
  border: 3px solid #AAC005;
}

.title {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 112px;
  /* or 112% */
  text-transform: uppercase;
  color: #fff;
}
.title span {
  color: #C3D72F;
}

.sub_title {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 72px;
  /* or 138% */
  text-transform: uppercase;
  color: #000;
}
.sub_title span {
  color: #C3D72F;
}

.header {
  padding: 20px 0 25px 0;
}
.header .block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 104px;
}
.header .block .links {
  display: flex;
  gap: 30px;
}
.header .block .links .link {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #333333;
  position: relative;
  cursor: pointer;
}
.header .block .links .link:after {
  margin-top: 47px;
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #AAC005; /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.header .block .links .link:hover {
  color: #AAC005;
  transition: width 0.3s ease-out;
}
.header .block .links .link:hover:after, .header .block .links .link:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.header .block .links_me {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header .block .links_me span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 126% */
  color: #000000;
}
.header .block .links_me .btn-default {
  margin-top: -37px;
}
.header .block .links_me .btn-default span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  /* or 136% */
  color: #000000;
}

.main {
  background-image: url("/img/bg/bg_main_section.svg");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
}
.main .left {
  padding: 178px 60px 110px 206px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #2A2D32;
}
.main .left p {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  /* or 126% */
  color: #DBDBDB;
  max-width: 628px;
}
.main .right {
  height: 577px;
}
.main .play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 50px;
  background: #C3D72F;
  border: 10px solid #2A2D32;
  top: 39%;
  left: 57%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main .play .hide {
  display: none;
}
.main .play:hover {
  border: 3px solid #C3D72F;
  background: #2A2D32;
  padding: 57px;
}
.main .play:hover .hide {
  display: block;
}
.main .play:hover .on_hide {
  display: none;
}

.yakor {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #9D9D9F;
}

.popular {
  margin-top: 45px;
  margin-bottom: 150px;
}
.popular .block .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .block .top .left {
  display: flex;
  align-items: center;
  gap: 42px;
  display: flex;
  align-items: center;
}
.popular .block .top .left .sub_title span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 72px;
  /* or 138% */
  color: #C3D72F;
  text-transform: uppercase;
}
.popular .block .top .left span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #9D9D9F;
}
.popular .block .top .right {
  position: relative;
  display: flex;
}
.popular .block .top .right .circle {
  width: 210px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #eee;
}
.popular .block .top .right .circle div {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 550;
  font-size: 56.5725px;
  line-height: 35px;
  /* identical to box height, or 62% */
  color: #C3D72F;
}
.popular .block .top .right span {
  margin-left: -71px;
  margin-top: 112px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  color: #474747;
  max-width: 223px;
}
.popular .block .top .right span h5 {
  margin-left: 50px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  color: #474747;
}
.popular .block .wrapper {
  margin-top: 39px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular .block .wrapper .item .btn-default {
  margin-top: 37px;
}
.popular .block .wrapper .item .btn-default .top {
  justify-content: flex-end;
}
.popular .block .wrapper .item .btn-default .bottom span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 23px;
  /* or 136% */
  color: #2A2D32;
}
.popular .block .wrapper .item .img {
  position: relative;
  width: 489px;
  height: 381px;
}
.popular .block .wrapper .item .img .data {
  position: absolute;
  top: 25px;
  left: 0;
  padding: 5px 15px;
  background: #2A2D32;
  color: #C3D72F;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}
.popular .block .wrapper .item h3 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  color: #000;
}
.popular .block .wrapper .item h3 span {
  color: #AAC005;
}
.popular .block .wrapper .item p {
  margin-top: 10px;
  max-width: 449px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  /* or 27px */
  color: #777777;
}

.raspisanie {
  position: relative;
  padding-top: 100px;
  padding-bottom: 107px;
  background: #2A2D32;
}
.raspisanie .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.raspisanie .wrapper .left {
  display: flex;
  align-items: center;
  gap: 42px;
}
.raspisanie .wrapper .left .sub_title {
  color: white;
}
.raspisanie .wrapper .btn-default {
  padding: 18px 18px 10px 22px;
  gap: 7px;
}

.video_slider {
  position: relative;
}
.video_slider .row {
  margin-top: 20px;
}
.video_slider .icons {
  position: absolute;
  left: 34%;
  top: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
}
.video_slider .icons .sub_title_2 {
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 72px;
  /* or 138% */
  text-align: center;
  color: #fff;
}
.video_slider .icons .sub_title_2 span {
  color: #C3D72F;
}
.video_slider .icons .icon {
  background: #C3D72F;
  width: 123px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.video_slider .icons .icon .hide {
  display: none;
}

.Why_me {
  margin-top: 150px;
  margin-bottom: 200px;
}
.Why_me .block .top {
  display: flex;
  align-items: center;
  gap: 42px;
}
.Why_me .block p {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  /* or 129% */
  color: #474747;
  max-width: 616px;
  margin-left: 190px;
  margin-top: 20px;
}
.Why_me .block .items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 191px;
  margin-top: 30px;
}
.Why_me .block .items .item {
  border: 1px solid #E6E6E6;
  padding: 26px 38px 31px 39px;
}
.Why_me .block .items .item .top {
  display: flex;
  align-items: center;
  gap: 47px;
}
.Why_me .block .items .item .top span {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140.5%;
  /* or 31px */
  width: 321px;
  color: #333333;
}
.Why_me .block .items .item p {
  margin-left: 106px;
  margin-top: 13px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  /* or 27px */
  color: #777777;
  max-width: 441px;
}

.trevel_team {
  padding-top: 89px;
  background: #2A2D32;
  padding-bottom: 101px;
}
.trevel_team .block .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trevel_team .block .top .sub_title {
  color: #fff;
}
.trevel_team .block .top .wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}
.trevel_team .block .top .btn-default {
  width: 235px;
  height: 79px;
  background: #C3D72F;
}
.trevel_team .block .top .btn-default .top {
  justify-content: flex-end;
}
.trevel_team .block .items {
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.trevel_team .block .items .item .info {
  margin-left: 20px;
}
.trevel_team .block .items .item .info h3 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140.5%;
  /* identical to box height, or 31px */
  color: #FFFFFF;
  margin-top: 23px;
}
.trevel_team .block .items .item .info p {
  margin-top: 15px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  max-width: 704px;
  color: #BBBBBB;
}
.trevel_team .block .items .item .btn-default {
  margin-top: 39px;
  margin-left: 20px;
}
.trevel_team .block .items .item .mt-15 {
  margin-top: 15px;
}

.vopros {
  margin-top: 150px;
  margin-bottom: 150px;
}
.vopros .block .top {
  display: flex;
  align-items: center;
  gap: 100px;
}
.vopros .block .items {
  margin-top: 85px;
  margin-left: 250px;
  display: flex;
  flex-wrap: wrap;
}
.vopros .block .items .item {
  display: flex;
  align-items: center;
  padding: 50px 0 80px 0;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  gap: 90px;
  transition: 0.3s ease-in-out;
}
.vopros .block .items .item:hover {
  background: url("../img/main/bg_items.svg");
}
.vopros .block .items .item:hover span {
  color: transparent;
}
.vopros .block .items .item:hover h3 {
  color: #fff;
  filter: brightness(100%);
}
.vopros .block .items .item:hover p {
  color: #fff;
  filter: brightness(100%);
}
.vopros .block .items .item span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 129% */
  color: #AAC005;
  z-index: 3;
}
.vopros .block .items .item h3 {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  /* or 123% */
  color: #333333;
  width: 301px;
  z-index: 3;
}
.vopros .block .items .item p {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  /* or 126% */
  color: #777777;
  max-width: 613px;
  z-index: 3;
}

.comments {
  position: relative;
  padding-top: 100px;
  background: #2A2D32;
  padding-bottom: 100px;
}
.comments .block {
  margin-left: 206px;
}
.comments .block .top {
  display: flex;
  align-items: center;
  gap: 100px;
}
.comments .block .top .sub_title {
  color: #FFFFFF;
}
.comments .block .swiper_2 {
  margin-left: 250px;
  margin-top: 50px;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.comments .block .swiper_2 .swiper-wrapper {
  display: flex;
  gap: 20px;
}
.comments .block .swiper_2 .swiper-wrapper .swiper-slide {
  padding: 50px;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.comments .block .swiper_2 .swiper-wrapper .swiper-slide .top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.comments .block .swiper_2 .swiper-wrapper .swiper-slide .top .left {
  display: flex;
  align-items: center;
  gap: 13px;
}
.comments .block .swiper_2 .swiper-wrapper .swiper-slide .top .left p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  /* or 19px */
  color: #63656A;
}
.comments .block .swiper_2 .swiper-wrapper .swiper-slide .top .left span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */
  color: #2A2D32;
}
.comments .block .swiper_2 .swiper-wrapper .swiper-slide .top .left .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comments .block .swiper_2 .swiper-wrapper .swiper-slide .top .right {
  display: flex;
  align-items: end;
  gap: 26px;
}
.comments .block .swiper_2 .swiper-wrapper .swiper-slide .top .right .data {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  /* or 19px */
  color: #63656A;
}
.comments .block .swiper_2 .swiper-wrapper .swiper-slide p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  /* or 26px */
  color: #63656A;
}
.comments .block .btn_swiper-prev {
  cursor: pointer;
  position: absolute;
  left: 206px;
  top: 350px;
  background: #2A2D32;
  width: 235px;
  height: 79px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px 0 22px;
  border: 2px solid #C3D72F;
}
.comments .block .btn_swiper-prev:after {
  display: none;
}
.comments .block .btn_swiper-prev span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 23px;
  /* or 136% */
  color: #C3D72F;
}
.comments .block .btn_swiper-next {
  cursor: pointer;
  position: absolute;
  left: 206px;
  top: 250px;
  background: #C3D72F;
  width: 235px;
  height: 79px;
  padding: 0 22px 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #C3D72F;
}
.comments .block .btn_swiper-next span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 23px;
  /* or 136% */
  color: #000000;
}
.comments .block .btn_swiper-next:after {
  display: none;
}

.how_to_book .block .top {
  display: flex;
  align-items: center;
  gap: 100px;
}
.how_to_book .block img {
  margin-top: 84px;
  margin-left: 240px;
}

.with_you {
  margin-top: 85px;
  padding: 88px 0 100px 0;
  background: #2A2D32;
}
.with_you .block {
  /**
   * Tab
   */
}
.with_you .block .top {
  display: flex;
  align-items: center;
  gap: 100px;
}
.with_you .block .top .sub_title {
  color: #fff;
}
.with_you .block .wrapper {
  display: flex;
  gap: 23px;
}
.with_you .block .wrapper .right_content {
  margin-top: -127px;
}
.with_you .block #tabs {
  padding-top: 40px;
}
.with_you .block .c-tabs-nav {
  display: flex;
}
.with_you .block .sposob_txt {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  display: flex;
  align-items: center;
  /* White */
  color: #FFFFFF;
  margin-bottom: 13px;
}
.with_you .block .c-tabs-nav__link {
  text-decoration: none;
  padding: 21px 42px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease-in-out;
}
.with_you .block .c-tabs-nav__link .hide {
  display: none;
}
.with_you .block .c-tabs-nav__link span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 160%;
  /* or 27px */
  display: flex;
  align-items: center;
  text-align: center;
  /* White */
  color: #FFFFFF;
}
.with_you .block .c-tabs-nav__link:hover {
  background: #C3D72F;
}
.with_you .block .c-tabs-nav__link:hover .img {
  display: none;
}
.with_you .block .c-tabs-nav__link:hover .hide {
  display: block;
}
.with_you .block .c-tabs-nav__link:hover span {
  color: #000;
}
.with_you .block .c-tabs-nav__link.is-active {
  opacity: 1;
  background: #C3D72F;
}
.with_you .block .c-tabs-nav__link.is-active .img {
  display: none;
}
.with_you .block .c-tabs-nav__link.is-active .hide {
  display: block;
}
.with_you .block .c-tabs-nav__link.is-active span {
  color: #000;
}
.with_you .block .c-tab {
  display: none;
}
.with_you .block .c-tab.is-active {
  display: block;
}
.with_you .block .c-tab__content {
  padding-top: 10px;
  padding-bottom: 13px;
  position: relative;
  animation: showTab 300ms ease-in-out both;
}
.with_you .block .c-tab__content span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  display: flex;
  align-items: center;
  /* White */
  color: #FFFFFF;
}
@keyframes showTab {
  from {
    opacity: 0;
    top: 5px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.with_you .block .c-tab-nav-marker {
  min-height: 4px;
  background-color: #FFF;
  position: absolute;
  bottom: -10px;
  transition: all 0.3s ease-out;
}
.with_you .block .form {
  display: flex;
  margin-bottom: 20px;
}
.with_you .block .form input {
  border: none;
  outline: none;
  padding: 23px 265px 21px 21px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  /* Black/Black */
  color: #222633;
}
.with_you .block .form button {
  cursor: pointer;
  gap: 50px;
  background: #C3D72F;
  display: flex;
  align-items: center;
  padding: 23px 25px 21px 13px;
  border: none;
  outline: none;
}
.with_you .block .form button span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.with_you .block .politika {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  /* identical to box height, or 21px */
  /* White */
  color: #FFFFFF;
}
.with_you .block .politika a {
  text-decoration: underline;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
